In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_excel('clickRatio_Asia.xlsx')
df.head()

,Reference,ItemNameType,StationID,UserName,SerialNumber,ProductName,Version,Button1_ClickRatio,Button2_ClickRatio,Button3_ClickRatio,Button4_ClickRatio,Button5_ClickRatio,tDateTime,SO,Job_GPN,ClassCode
0,403020722,12434,0,18985,3422062201,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.15,0.22,0.24,0.21,0.25,2022-08-05 00:30:15,NaN,NaN,NaN
1,403021346,12434,0,18985,3422062202,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.16,0.22,0.26,0.22,0.22,2022-08-05 00:34:54,NaN,NaN,NaN
2,403021799,12434,0,18985,3422061928,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.17,0.24,0.21,0.25,0.25,2022-08-05 00:38:32,NaN,NaN,NaN
3,403022284,12434,0,18985,3422061975,"Sub-Assy, Top Unit, Magna, Captain",NaN,0.23,0.25,0.16,0.26,0.26,2022-08-05 00:41:59,NaN,NaN,NaN
4,403022773,12434,0,18985,3422061974,"Sub-Assy, Top Unit, Magna, Captain",NaN,0.23,0.26,0.26,0.21,0.27,2022-08-05 00:44:56,NaN,NaN,NaN

In [47]:
df_NG = df[(df.iloc[:,7:12] <0.2).any(axis=1)].sort_values('SerialNumber')
df_NG#.to_excel('clickRatioNG_Asia.xlsx')

,Reference,ItemNameType,StationID,UserName,SerialNumber,ProductName,Version,Button1_ClickRatio,Button2_ClickRatio,Button3_ClickRatio,Button4_ClickRatio,Button5_ClickRatio,tDateTime,SO,Job_GPN,ClassCode
125,403259218,12434,0,18985,3422061910,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.20,0.27,0.18,0.25,0.26,2022-08-06 08:16:47,NaN,NaN,NaN
2,403021799,12434,0,18985,3422061928,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.17,0.24,0.21,0.25,0.25,2022-08-05 00:38:32,NaN,NaN,NaN
130,403262162,12434,0,18985,3422061960,"Sub-Assy, Top Unit, Magna, Captain",NaN,0.25,0.25,0.24,0.07,0.25,2022-08-06 08:37:30,NaN,NaN,NaN
126,403260738,12434,0,18985,3422061960,"Sub-Assy, Top Unit, Magna, Captain",NaN,0.23,0.24,0.23,0.03,0.29,2022-08-06 08:27:32,NaN,NaN,NaN
3,403022284,12434,0,18985,3422061975,"Sub-Assy, Top Unit, Magna, Captain",NaN,0.23,0.25,0.16,0.26,0.26,2022-08-05 00:41:59,NaN,NaN,NaN
0,403020722,12434,0,18985,3422062201,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.15,0.22,0.24,0.21,0.25,2022-08-05 00:30:15,NaN,NaN,NaN
1,403021346,12434,0,18985,3422062202,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.16,0.22,0.26,0.22,0.22,2022-08-05 00:34:54,NaN,NaN,NaN
22,403202583,12434,0,22938,3425559208,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.25,0.22,0.19,0.21,0.24,2022-08-06 01:32:45,NaN,NaN,NaN
135,403263442,12434,0,18985,3425559208,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.25,0.22,0.18,0.19,0.22,2022-08-06 08:52:44,NaN,NaN,NaN
45,403210994,12434,0,22938,3425559213,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.26,0.26,0.18,0.22,0.24,2022-08-06 02:39:07,NaN,NaN,NaN
44,403210583,12434,0,22938,3425559214,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.24,0.20,0.19,0.00,0.24,2022-08-06 02:36:31,NaN,NaN,NaN
151,403273879,12434,0,18985,3425559214,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.24,0.20,0.18,0.24,0.24,2022-08-06 09:53:52,NaN,NaN,NaN
153,403274608,12434,0,18985,3425559216,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.27,0.25,0.15,0.23,0.27,2022-08-06 09:57:48,NaN,NaN,NaN
97,403233824,12434,0,22938,3425559216,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.26,0.26,0.15,0.22,0.24,2022-08-06 05:37:30,NaN,NaN,NaN
95,403233053,12434,0,22938,3425559219,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.26,0.23,0.26,0.16,0.22,2022-08-06 05:32:35,NaN,NaN,NaN
156,403275664,12434,0,18985,3425559219,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.26,0.25,0.26,0.19,0.24,2022-08-06 10:03:37,NaN,NaN,NaN
100,403235074,12434,0,22938,3425559220,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.25,0.22,0.18,0.25,0.24,2022-08-06 05:44:56,NaN,NaN,NaN
155,403275251,12434,0,18985,3425559221,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.27,0.27,0.15,0.21,0.25,2022-08-06 10:01:20,NaN,NaN,NaN
99,403234694,12434,0,22938,3425559221,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.25,0.29,0.15,0.19,0.26,2022-08-06 05:42:32,NaN,NaN,NaN
76,403221487,12434,0,22938,3425559236,"Sub-Assy, Top Unit, Magna, Captain",NaN,0.25,0.25,0.16,0.22,0.26,2022-08-06 03:56:31,NaN,NaN,NaN
163,403278499,12434,0,18985,3425559236,"Sub-Assy, Top Unit, Magna, Captain",NaN,0.29,0.24,0.16,0.20,0.25,2022-08-06 10:17:43,NaN,NaN,NaN
80,403222563,12434,0,22938,3425559247,"Sub-Assy, Top Unit, Magna, Golfer",NaN,0.27,0.26,0.24,0.19,0.23,2022-08-06 04:10:58,NaN,NaN,NaN
161,403277611,12434,0,18985,3425559251,"Sub-Assy, Top Unit, Magna, Golfer",NaN,0.27,0.25,0.00,0.24,0.23,2022-08-06 10:13:09,NaN,NaN,NaN
89,403229697,12434,0,22938,3425559251,"Sub-Assy, Top Unit, Magna, Golfer",NaN,0.28,0.25,0.15,0.24,0.20,2022-08-06 05:11:45,NaN,NaN,NaN
102,403235693,12434,0,22938,3425559304,"Sub-Assy, Top Unit, Magna, Athlete",NaN,0.25,0.28,0.23,0.18,0.25,2022-08-06 05:49:13,NaN,NaN,NaN
18,403200856,12434,0,22938,3425559305,"Sub-Assy, Top Unit, Magna, Athlete",NaN,0.29,0.25,0.21,0.19,0.21,2022-08-06 01:22:56,NaN,NaN,NaN

In [48]:
df_NG.describe().iloc[:,6:11].round(2)#.to_excel('clickRatioNG_Asia_describe.xlsx')

,Button1_ClickRatio,Button2_ClickRatio,Button3_ClickRatio,Button4_ClickRatio,Button5_ClickRatio
count,26.00,26.00,26.00,26.00,26.00
mean,0.24,0.24,0.19,0.19,0.24
std,0.04,0.02,0.05,0.07,0.02
min,0.15,0.20,0.00,0.00,0.20
25%,0.24,0.22,0.16,0.19,0.23
50%,0.25,0.25,0.18,0.21,0.24
75%,0.27,0.26,0.23,0.24,0.25
max,0.29,0.29,0.26,0.26,0.29

In [5]:
#df_dup = df[df.duplicated(subset='SerialNumber',keep=False)].sort_values(['SerialNumber','tDateTime'])
#df_dup

,Reference,ItemNameType,StationID,UserName,SerialNumber,ProductName,Version,Button1_ClickRatio,Button2_ClickRatio,Button3_ClickRatio,Button4_ClickRatio,Button5_ClickRatio,tDateTime,SO,Job_GPN,ClassCode
125,403259218,12434,0,18985,3422061910,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.20,0.27,0.18,0.25,0.26,2022-08-06 08:16:47,NaN,NaN,NaN
131,403262430,12434,0,18985,3422061910,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.21,0.28,0.26,0.28,0.22,2022-08-06 08:39:35,NaN,NaN,NaN
126,403260738,12434,0,18985,3422061960,"Sub-Assy, Top Unit, Magna, Captain",NaN,0.23,0.24,0.23,0.03,0.29,2022-08-06 08:27:32,NaN,NaN,NaN
130,403262162,12434,0,18985,3422061960,"Sub-Assy, Top Unit, Magna, Captain",NaN,0.25,0.25,0.24,0.07,0.25,2022-08-06 08:37:30,NaN,NaN,NaN
22,403202583,12434,0,22938,3425559208,"Sub-Assy, Top Unit, Magna, Aviator",NaN,0.25,0.22,0.19,0.21,0.24,2022-08-06 01:32:45,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,403272541,12434,0,18985,3425559304,"Sub-Assy, Top Unit, Magna, Athlete",NaN,0.25,0.28,0.25,0.25,0.27,2022-08-06 09:46:38,NaN,NaN,NaN
18,403200856,12434,0,22938,3425559305,"Sub-Assy, Top Unit, Magna, Athlete",NaN,0.29,0.25,0.21,0.19,0.21,2022-08-06 01:22:56,NaN,NaN,NaN
145,403271793,12434,0,18985,3425559305,"Sub-Assy, Top Unit, Magna, Athlete",NaN,0.27,0.25,0.22,0.21,0.23,2022-08-06 09:43:05,NaN,NaN,NaN
17,403200422,12434,0,22938,3425559306,"Sub-Assy, Top Unit, Magna, Athlete",NaN,0.24,0.23,0.22,0.22,0.24,2022-08-06 01:20:39,NaN,NaN,NaN
146,403272206,12434,0,18985,3425559306,"Sub-Assy, Top Unit, Magna, Athlete",NaN,0.26,0.25,0.22,0.25,0.26,2022-08-06 09:45:03,NaN,NaN,NaN

In [38]:
#df_dup_NG = df_dup[(df_dup.iloc[:,7:12] <0.2).any(axis=1)]
#df_dup_NG.to_excel('clickRatioNG_Asia.xlsx')

In [39]:
#df_dup_NG.describe().iloc[:,6:11].round(2).to_excel('clickRatioNG_Asia_describe.xlsx')